 .container
{
  display: flex; 
  flex-wrap: wrap;
  justify-content: center;
}
.y
{
border: 10px solid darkslategrey;
}

.Y
{
border: 10px solid darkslategrey;
 }

.w
{
border: 10px solid darkslategrey;
}

.u
{
border: 10px solid darkslategrey;
}

.U
{
border: 10px solid darkslategrey;
}

.t
{
border: 10px solid darkslategrey;
}

.g
{
border: 10px solid darkslategrey;
}

.gm
{
border: 10px solid darkslategrey;
}

.d
{
border: 10px solid darkslategrey;
}

.w3
{
border: 10px solid darkslategrey;
}


.uf
{
border: 10px solid darkslategrey;
}

.c
{
border: 10px solid darkslategrey;
}


.uf
{
border: 10px solid darkslategrey;
}

.b
{
border: 10px solid darkslategrey;
}

.ca
{
border: 10px solid darkslategrey;
}

.ff
{
border: 10px solid darkslategrey;
}

.cs
{
border: 10px solid darkslategrey;
}

.fo
{
border: 10px solid darkslategrey;
}

.co
{
border: 10px solid darkslategrey;
}

.pa
{
border: 10px solid darkslategrey;
}


h1
{
	font-family: cursive;
	font-size: 3em;
	border-bottom: 2px solid pink;
	border-top: 2px solid pink;
	border-right: : 2px solid pink;
	border-left: : 2px solid pink;
	width: 300px;
	text-align: center;
	box-shadow: 5px 5px 5px 5px;
	font-size: 10vw;
}


img
{
	width: 450px;
	height: 300px;
	margin: 10px;
	transition: all 1s;
}

img:hover
{
	transform: scale(1.4);
	animation: steps(1.1);
}

