.container
{
  display: flex; 
  flex-wrap: wrap;
  justify-content: center;
}

.y
{
border: 10px solid darkslategrey;
}

.Y
{
border: 10px solid darkslategrey;
 }

.w
{
border: 10px solid darkslategrey;
}

.u
{
border: 10px solid darkslategrey;
}

.U
{
border: 10px solid darkslategrey;
}

.t
{
border: 10px solid darkslategrey;
}

.g
{
border: 10px solid darkslategrey;
}

.gm
{
border: 10px solid darkslategrey;
}

.d
{
border: 10px solid darkslategrey;
}

.w3
{
border: 10px solid darkslategrey;
}


.uf
{
border: 10px solid darkslategrey;
}

.c
{
border: 10px solid darkslategrey;
}


.uf
{
border: 10px solid darkslategrey;
}

.b
{
border: 10px solid darkslategrey;
}

.ca
{
border: 10px solid darkslategrey;
}

.ff
{
border: 10px solid darkslategrey;
}

.cs
{
border: 10px solid darkslategrey;
}

.fo
{
border: 10px solid darkslategrey;
}

.co
{
border: 10px solid darkslategrey;
}

.pa
{
border: 10px solid darkslategrey;
}

h1
{
	font-family: cursive;
	font-size: 3em;
	/*border-bottom: 2px solid pink;
	border-top: 2px solid pink;
	border-right: : 2px solid pink;
	border-left: : 2px solid pink;*/
	width: 500px;
	text-align: center;
	font-size: 4vw;
 }

.tx
{
  display: flex; 
  flex-wrap: wrap;
  justify-content: center;
}

img
{
	width: 200px;
	height: 200px;
	margin: 10px;
	transition: all 1s;
}

img:hover
{
	transform: scale(1.4);
	animation: steps(1.1);
}


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

